body {
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: 950px;
    background-color: ivory;
}
h1, h2 {
    font-family: 'oswald';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
#navigation_bar a {
    margin-left: 75px;
    margin-right: 75px;
}
p {
    font-family: 'open sans';
}
img {
    float: left;
    margin-right: 15px;
}
.left {
    float: left;
    width: 300px;
    padding: 1em;
}
.right {
    float: right;
    width: 300px;
    padding: 1em;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}